# pip install -r "..\..\z. Documents\0. Templates\requirements.txt"

## local package
# -e .


## gcp
# google-cloud-bigquery
# google-cloud-storage
# google-cloud-bigquery-storage
# pandas-gbq
# db-dtypes


## scientific computing
numpy
pandas
scipy 
scikit-learn

## data
ydata-profiling
sweetviz
dataframe_image
plottable

## Visualization
matplotlib
plotly
seaborn

## jupyter
ipykernel
ipywidgets